{% extends 'base.html'%} {% block content %}
<div class="container">
    <h2 class="text-center"> User Profile</h2>
    <hr>
    <div class="row profileContent">
        <!-- displaying  Username-->
        <div class="col-md-7">

            <!-- Display user info -->
            <div class="card cardsProfile">
                <div class="card-img">
                    {% if user.profile_pic_path %}
                    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="profile" class="img-thumbnail"> {%else%}
                    <p>No profile picture</p>
                    {% endif %}
                    <button class="btn" id="profileButton">update pic</button>
                </div>

                <div class="updateImg">
                    {% if user == current_user %}
                    <form class="updatePic" action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype="multipart/form-data">

                        <input type="file" name="photo" class="form-control" required>
                        <div class="form-group" id="btnSmall">
                            <button type="submit" id="submit">Submit</button>

                        </div>
                    </form>
                    {% endif %}
                </div>
                <hr>
                <div class="card-body" id="profileStatus">
                    <p class="card-title">{{user.firstname}} {{user.lastname}}</p>
                    <p class="card-subtitle text-muted"> Username: {{user.username}}</p>
                    {% if user.bio %}
                    <h2><i class="fas fa-quote-left"></i></h2>
                    <p class="card-title"> {{user.bio}}</p>
                    {%else%}
                    <p class="card-title"> {{user.username| capitalize}} has no bio.</p>
                    {% endif %}
                    <div>
                        <p class="linkUpdate"> {% if user == current_user %}
                            <a href="{{url_for('main.update_profile',uname=user.username)}}"><i class="fa fa-edit text-primary">Edit Profile</i></a> {%endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5" id="profilePitch">
            {% if current_user %}
            <h2 class="text-center"> You have posted {{user.blogs.count()}} blogs </h2>
            {% for blog in blogs%}
            <div class="blogs">
                <p>Title: {{blog.title}}</p>
                <p class="blog"> " {{blog.blog}} "</p>
                <p> Likes:{{blog.upvote.count()}}<br> Dislikes:{{blog.downvote.count()}}
                    <br> Comments:{{blog.comment.count()}}
                </p>
                <a href="{{url_for('main.edit_blog', id = blog.id)}}"> <i class="fa fa-edit text-primary"> Edit</i></a>
                <a href="{{url_for('main.delete_blog', id = user.id, blog_id = blog.id)}}"><i class="fa fa-trash-alt text-danger"> Delete</i></a>

            </div>
            <br> {%endfor%} {%endif%}

        </div>
    </div>
</div>
{% endblock %}

