{% extends 'base.html'%} {% block content %}
<div class="container">
    <h2 class="text-center"> User Profile</h2>
    <hr>
    <div class="row profileContent">
        <!-- displaying  Username-->
        <div class="col-md-7">

            <!-- Display user info -->
            <div class="card cardsProfile">
                <div class="card-img">
                    {% if user.profile_pic_path %}
                    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="profile" class="img-thumbnail"> {%else%}
                    <p>No profile picture</p>
                    {% endif %}
                    <button class="btn" id="profileButton">update pic</button>
                </div>

                <div class="updateImg">
                    {% if user == current_user %}
                    <form class="updatePic" action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype="multipart/form-data">

                        <input type="file" name="photo" class="form-control" required>
                        <div class="form-group" id="btnSmall">
                            <button type="submit" id="submit">Submit</button>

                        </div>
                    </form>
                    {% endif %}
                </div>
                <hr>
