{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf%} {% block content %} {% block styles %} {{super()}} {% endblock %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" id="login">
            <h2 class="text-center"><i class="fas fa-sign-in-alt text-center"></i>&nbsp; <strong class="text-center">Log
                    In Here</strong></h2>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message }}
            </div>
            {% endfor %} {{wtf.quick_form(login_form)}}
            <div class="container accountDets">
                <h3 class="text-center "> Don't have an account? <a id="sign" href="{{url_for('auth.register')}}">Sign up here</a></h3>
            </div>

        </div>
        <div clas="col-md-3"> </div>
    </div>
</div>
{% endblock %}