{% extends 'base.html'%}{% import 'bootstrap/wtf.html' as wtf %} {% import 'macros.html' as macro %} {% block content%}
<div class="header">
    <br>
    <br>
    <div class="container headerContents">
        <div class="randomQuotes">
            <h1 class="text-center quote"><i class="fas fa-quote-left"></i><em> {{quotes.quote}} </em> <i class="fas fa-quote-right"></i></h1>
            <h3 class="subtitle text-center">~{{quotes.author}}</h3>
            <br>
            <hr>
            <div class="container welcome">

                <h2 class="bold">Subscribe to get alerts for new blogs!</h2>
                <div class="subscribeForm">
                        {{wtf.quick_form(form)}}
                </div>
              </div>
          </div>
      </div>
  </div>

  <div id="all">
    <br>
    <div class="container" id=headingBlogs>
        <h1 class="text-center">Latest Blogs</h1>
    </div>
    <hr> {{ macro.display(blogview) }}
</div>


{% endblock%}
  