<nav class="mb-1 navbar navbar-expand-lg navbar-dark nav-info-dark ">
    <a class="navbar-brand" href="{{url_for('main.index')}}"><strong>MY CHIC BLOG</strong> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="{{url_for('main.index')}}">All Blogs</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link active" href="{{url_for('main.new_blog')}}">Create Blog</a>
            </li>
            {%endif%}
        </ul>

        <ul class="navbar-nav ml-auto">